html
  head
    title= '/ Split \\'
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/split.css", rel="stylesheet")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/spin.min.js")
    script(type="text/javascript", src="/js/main.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    
    block head_space
  body
    .container-fluid
      .row
        .col-xs-12.splitnav
          .row
            a(href="/")
              .col-xs-6
                .dashboard 
                  .bowling-ball.left 
                    .ball-holes &because;
                  | Split
              //- .col-xs-6
              //-   .dashboard <span class="split-box">Sp<span class="header-frame">it</span></span>
            .col-xs-6.text-right.account-nav
              if Parse.User.current()
                .btn-group
                  button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").btn.btn-default.btn-lg.btn-icon.btn-ham-icon.mobile.dropdown-toggle
                    span(aria-hidden="true").glyphicon.glyphicon-menu-hamburger
                  ul.dropdown-menu.dropdown-menu-right.mobile
                    li.text-center Hi #{Parse.User.current().get('firstName')}
                    li(role="separator", class="divider")
                    if (typeof stats !== 'undefined')
                      li
                        a(href="/add-game")
                          span(aria-hidden="true").glyphicon.glyphicon-plus.icon-sm
                          |  Add Game
                    else
                      li
                        a(href="/stats")
                          span(aria-hidden="true").glyphicon.glyphicon-signal.icon-sm
                          |  Stats
                    li
                      a(href="/logout")
                        span(aria-hidden="true").glyphicon.glyphicon-log-out.icon-sm
                        |  Logout

      .row
        .col-xs-12
          block content
