@font-face {
    font-family: helvLight;
    src: url(../fonts/helveneulig.woff);
}
@font-face {
    font-family: helvUltra;
    src: url(../fonts/helveneuultlig.woff);
}
@font-face {
    font-family: helvLight;
    src: url(../fonts/helveneumed.woff);
    font-weight: bold;
}

body {
  font-family: helvLight, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 64px;
}

.container-fluid {
  padding-bottom: 25px;}

.col-xs-ten {
  width: 9.5%;}

.col-xs-eleven {
  width: 14.5%;}

.mobile {
  font-size: 100%;}

.smobile {
  font-size: 80%;}

.smobile.btn {
  padding-top: 16px;
  padding-bottom: 15px;}

.btn-wide {
  margin-top: 15px;
  width: 90%;}

.btn-icon {
  height: 107px;
  width: 107px;}

.btn-tri-icon {
  padding-top: 20px;}

.btn-plus-icon {
  padding-left: 25px;}

.btn-mwide {
  margin-right: 15px;
  margin-left: 15px;
  width: 70%;}

.btn {
  font-family: helvUltra, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;}

.icon-sm {
  font-size: 75%}

.large {
  font-family: helvUltra, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 125%;}

.form-control {
  height: 128px;}

.bowling-ball {
  float: left;
  height: 107px;
  width: 107px;
  font-size: 50%;
  margin-top: 38px;
  margin-right: 20px;
  border-radius: 70px;
  border: 2px solid black;}

.ball-holes {
  position: absolute;
  top: 35px;
  left: 37px;}

.header-frame {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;}

.split-box {
  border: 1px solid black;
  border-bottom: none;
  padding-bottom: 19px;
  margin-left: -20px;
  padding-left: 20px;}

.main-controls {
  margin-bottom: 30px;
  margin-top: 30px;}

.splitnav {
  border-bottom: 1px solid black;
  margin-bottom: 30px;}

.splitnav a {
  color: black;}

.dashboard {
  margin: 0px;
  margin-top: 4px;
  font-family: helvUltra, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 200%;}

.login-view {
  margin-top: 180px;}

#forgotpass {
  font-size: 75%;}

#forgotpass a {
  color: black;}

.account-create {
  margin-top: 30px;}

.account-nav {
  padding-top: 38px;
  font-family: helvUltra, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;}

.frame {
  font-size: 50%;
  border: 1px solid black;
  margin-top: 20px;}

.frame .head {
  border-bottom: 1px solid black;}

.total {
  height: 70px;
  padding-top: 15px;}

.ball1, .ball2, .ball3 {
  height: 40px;
  padding-top: 2px;
  font-size: 75%;}

.ball2, .ball3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;}

#input-keys {
  text-align: center;}

.score-btn, .score-btn-clr {
  width: 100%;
  margin-top: 25px;}

#score10 {
  /*font-weight: bold;
  font-size: 125%;
  height: 107px;*/
}

.current-ball {
    background-color: moccasin;}

#table {
  margin-bottom: 30px;}

.open-frame {
  border: 1px solid red;
  border-radius: 45px;}

.btn-fill {
  margin-top: 25px;
  width: 100%}

#saveSuccess, #saveFail {
  padding-top: 20px;}
  
#saveSuccess {
  color: limegreen;}
  
#saveFail {
  color: firebrick;}

.pin-pcnt-stack, .frame-cnt-stack{
  width: 9%;}

.pin-pcnt-row {
  height: 300px;
  position: relative;
  border-bottom: 1px solid black;
  border-top: 1px solid black;}
  
.pin-pcnt-col, .pin-pcnt-num {
  position: absolute;
  bottom: 0px;
  vertical-align: bottom;}

.pin-pcnt-col, .strike-pcnt-col {
  background-color: paleturquoise;}

.pin-pcnt-col {
  width: 80%;
  padding: 0px;
  font-size: 47%;}

.pcnt-bar {
  border: 1px solid black;
  padding-left: 0;}

.frame-cnt-stack {
  font-size: 80%;
  border: 1px solid black;}
  
.frame-cnt-head {
  border-bottom: 1px solid black;}

.frame-cnt-head, .frame-cnt-body, .frame-cnt-body-sm, .frame-cnt-body-xs {
  padding: 0px}

.frame-cnt-body-sm {
  font-size: 80%;}

.frame-cnt-body-xs {
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 60%;}
