extends ../header

block head_space
  script(type="text/javascript", src="/js/add.js")

block content
  .row
    .col-xs-4
      a(href="/")
        .btn.btn-default.mobile Back
    .col-xs-4.text-center
      #saveWait
      #saveSuccess.hidden
        span(aria-hidden="true").glyphicon.glyphicon-ok-sign
      #saveFail.hidden
        span(aria-hidden="true").glyphicon.glyphicon-remove-sign
    .col-xs-4.text-right
        #saveGame(onclick="saveGame()").btn.btn-warning.mobile.disabled Save
        a(href="/add-game")#newGame.btn.btn-warning.smobile.hidden New Game
  .row.text-center
    #frame1.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 1
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame2.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 2
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame3.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 3
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame4.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 4
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame5.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 5
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame6.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 6
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame7.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 7
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame8.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 8
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame9.col-xs-1.col-xs-ten.frame
      .row
        .col-xs-12.head 9
      .row
        .col-xs-6.ball1
        .col-xs-6.ball2
      .row
        .col-xs-12.total
    #frame10.col-xs-1.col-xs-eleven.frame
      .row
        .col-xs-12.head 10
      .row
        .col-xs-4.ball1
        .col-xs-4.ball2
        .col-xs-4.ball3
      .row
        .col-xs-12.total

  #input-keys
    .row
      .col-xs-10.col-xs-offset-1
        #score10(value="10").btn.btn-warning.mobile.score-btn.btn-fill strike
    .row
      .col-xs-2.col-xs-offset-1
        #score0(value="0").btn.btn-warning.mobile.score-btn 0
      .col-xs-2
        #score1(value="1").btn.btn-warning.mobile.score-btn 1
      .col-xs-2
        #score2(value="2").btn.btn-warning.mobile.score-btn 2
      .col-xs-2
        #score3(value="3").btn.btn-warning.mobile.score-btn 3
      .col-xs-2
        #score4(value="4").btn.btn-warning.mobile.score-btn 4
    .row
      .col-xs-2.col-xs-offset-1
        #score5(value="5").btn.btn-warning.mobile.score-btn 5
      .col-xs-2
        #score6(value="6").btn.btn-warning.mobile.score-btn 6
      .col-xs-2
        #score7(value="7").btn.btn-warning.mobile.score-btn 7
      .col-xs-2
        #score8(value="8").btn.btn-warning.mobile.score-btn 8
      .col-xs-2
        #score9(value="9").btn.btn-warning.mobile.score-btn 9
    .row
      .col-xs-8.col-xs-offset-2
        #scoreCLR(onclick="removeScore()").btn.btn-danger.mobile.score-btn-clr.btn-fill.disabled backspace

    //- .row
    //-   .col-xs-2.col-xs-offset-3
    //-     #score0(value="0").btn.btn-warning.mobile.score-btn 0
    //-   .col-xs-2
    //-     #score1(value="1").btn.btn-warning.mobile.score-btn 1
    //-   .col-xs-2
    //-     #score2(value="2").btn.btn-warning.mobile.score-btn 2
    //- .row
    //-   .col-xs-2.col-xs-offset-3
    //-     #score3(value="3").btn.btn-warning.mobile.score-btn 3
    //-   .col-xs-2
    //-     #score4(value="4").btn.btn-warning.mobile.score-btn 4
    //-   .col-xs-2
    //-     #score5(value="5").btn.btn-warning.mobile.score-btn 5
    //- .row
    //-   .col-xs-2.col-xs-offset-3
    //-     #score6(value="6").btn.btn-warning.mobile.score-btn 6
    //-   .col-xs-2
    //-     #score7(value="7").btn.btn-warning.mobile.score-btn 7
    //-   .col-xs-2
    //-     #score8(value="8").btn.btn-warning.mobile.score-btn 8
    //- .row
    //-   .col-xs-2.col-xs-offset-3
    //-     #score9(value="9").btn.btn-warning.mobile.score-btn 9
    //-   .col-xs-2
    //-     #score10(value="10").btn.btn-warning.mobile.score-btn X
    //-   .col-xs-2
    //-     #scoreCLR(onclick="removeScore()").btn.btn-warning.mobile.score-btn-clr.disabled CLR

  //- .row
  //-   .col-xs-6.col-xs-offset-3.text-center
  //-     p#saveSuccess.hidden Saved!
  //-     p#saveFail.hidden Save Failed!
  //-     p
  //-       #saveGame(onclick="saveGame()").btn.btn-warning.mobile.disabled Save Game
  //-     p
  //-       a(href="/add-game")#newGame.btn.btn-warning.mobile.hidden Add New Game