extends ../header

block content
  .row
    .col-md-6.col-md-offset-3.account-create
      .row
        .col-md-12
          .large.text-left Account Setup
      .row
        if errorMessage
          p= "Please try again: "+errorMessage
      .row
        .bunge-form.col-md-12
          form(action="/create-account", method="post", data-abide)
            .row
              .col-md-6
                p
                  input(type="text", placeholder="First Name", name="firstName", required).form-control.mobile
              .col-md-6
                p
                  input(type="text", placeholder="Last Name", name="lastName", required).form-control.mobile
            .row
              .col-md-12
                p
                  input(type="email", placeholder="Email Address", name="email", required).form-control.mobile
            .row
              .col-md-12
                p
                  input(type="password", placeholder="Password", name="password", required).form-control.mobile
            .row
              .col-md-12
                p.text-right
                  input(type="submit", value="Submit").btn.btn-default.mobile