extends ../header

block content
  .row
    .col-xs-8
      h1.large Recent Games
    .col-xs-4.text-right
      .btn-group
        button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").btn.btn-warning.btn-lg.btn-icon.btn-plus-icon.mobile.dropdown-toggle
          span(aria-hidden="true").glyphicon.glyphicon-plus
        ul.dropdown-menu.dropdown-menu-right.mobile
          li
            a(href="/add-game") Add Game

  .row
    #recent-games
    
  .row.main-controls
    .col-md-12.text-center
      #older-games-btn.btn.btn-warning.btn-lg.btn-icon.btn-tri-icon.mobile.hidden(onclick="show_games(-1)", style="padding-right: 25px")
        span(aria-hidden="true").glyphicon.glyphicon-triangle-left
      a(href="/add-game").btn.btn-warning.btn-lg.btn-mwide.mobile Add Game
      #newer-games-btn.btn.btn-warning.btn-lg.btn-icon.btn-tri-icon.mobile.hidden(onclick="show_games(1)", style="padding-left: 25px")
        span(aria-hidden="true").glyphicon.glyphicon-triangle-right

  script(type='text/javascript').
    show_games(0);
