extends ../header

block content
  .col-sm-12.col-md-4.col-md-offset-4.login-view
    p.text-center
      a(href="/create-account").btn.btn-warning.btn-lg.btn-wide.mobile Create Account

    hr

    if errorMessage
      p= errorMessage
    #user
      form(action="/", method="post")
        p
          input(type="text", placeholder="Email", name="username").form-control.mobile
        p
          input(type="password", placeholder="Password", name="password").form-control.mobile
        p.text-right
          input(type="submit", value="Login").btn.btn-default.mobile
    #forgotpass.text-right
      a(href="/password") Forgot Password