extends ../header

block head_space
  script(type="text/javascript", src="/js/stats.js")

block content
  .row
    .col-xs-2
      a(href="/")
        .btn.btn-default.mobile Back
    .col-xs-10.text-right.large= (day) ? 'Stats from '+day : 'Stats from All Time'
  hr
  .row
    .col-xs-6.text-right.large Average :
    .col-xs-6.large= stats.average
  hr

  .row
    .col-xs-8
      h1.large Totals
  hr
  .row
    .col-xs-6.text-right Games:
    .col-xs-4= stats.games
  .row
    .col-xs-6.text-right Balls Thrown:
    .col-xs-4= stats.balls
  .row
    .col-xs-6.text-right Strikes:
    .col-xs-4= stats.strikes
  .row
    .col-xs-6.text-right Spares:
    .col-xs-4= stats.spares
  //- .row
  //-   .col-xs-4.text-right First Balls:
  //-   .col-xs-4= stats.firstBalls
  //- .row
  //-   .col-xs-4.text-right Second Balls:
  //-   .col-xs-4= stats.secondBalls
  hr

  .row
    .col-xs-8
      h1.large Personal Bests
  hr
  .row
    .col-xs-7.text-right High Score:
    .col-xs-4= stats.highScore
  .row
    .col-xs-7.text-right Most Strikes:
    .col-xs-4= stats.mostStrikes
  .row
    .col-xs-7.text-right Longest Streak:
    .col-xs-4= stats.streak
  hr

  .row
    .col-xs-12
      h1.large First Ball Breakdown
  hr
  .row
    .col-xs-12
      each pcnt, pins in stats.avgFirst
        .col-xs-1.pin-pcnt-stack
          .row.pin-pcnt-row
            .col-xs-12.pin-pcnt-col(style="height:#{pcnt}%;padding-left:#{(pcnt > 9) ? '3px' : '13px'};")
              .pin-pcnt-num= pcnt+"%"
          .row
            .col-xs-12= pins
  //- .row
  //-   #firstBallPie.col-xs-12(style="height:500px;")
  hr

  .row
    .col-xs-12
      h1.large Second Ball Breakdown
  hr
  .row
    .col-xs-6.text-right Spares:
    .col-xs-4= stats.avgSpare + "%"
  .row
    .col-xs-6.text-right Opens:
    .col-xs-4= stats.avgOpen + "%"
  hr

  .row
    .col-xs-8
      h1.large Per Game Stats:
  hr
  .row
    .col-xs-6.text-right Strikes:
    .col-xs-4= stats.strikesGame
  .row
    .col-xs-6.text-right Spares:
    .col-xs-4= stats.sparesGame
  .row
    .col-xs-6.text-right Opens:
    .col-xs-4= stats.opensGame
  hr

  .row
    .col-xs-8
      h1.large Per Frame Stats:
  hr
  .row
    .col-xs-12
      .col-xs-1.frame-cnt-stack.text-center
        .row
          .col-xs-12.frame-cnt-head Fr
        .row
          .col-xs-12 X
        .row
          .col-xs-12 /
        .row
          .col-xs-12 O
        .row
          .col-xs-12.frame-cnt-body-xs AVG
      each fstats, frame in stats.frameStats
        .col-xs-1.frame-cnt-stack.text-center
          .row
            .col-xs-12.frame-cnt-head= frame
          .row
            .col-xs-12.frame-cnt-body= fstats.strikes
          .row
            .col-xs-12.frame-cnt-body= fstats.spares
          .row
            .col-xs-12.frame-cnt-body= fstats.opens
          .row
            .col-xs-12.frame-cnt-body-sm= fstats.avg


  //- script(type='text/javascript').
  //-   drawFirstBallPie("#{ for
  //-     stats.avgFirst}");